<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'social_media_app/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="followers_container">
    {% for follower in followers %}
        <div class="follower_item">
            <a href="{% url 'find_user' follower.username %}" class="user_link">
            {% if follower.profile.avatar %}
                <img src="{{ follower.profile.avatar.url }}" class="avatar">
            {% else %}
                <img src="/static/icons/user.png" class="avatar" />
            {% endif %}
            <span>{{ follower.username }}</span>
            </a>
        </div>
    {% empty %}
        <p>No followers yet.</p>
    {% endfor %}
    </div>
</body>
</html>