<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
</head>
<body>
    <div class="navbar">
        <div class="logo">MySocial</div>
    </div>

    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#"><img src="static/icons/home (1).png"> <strong>Home</strong></a></li>
                <li><a href="#"><img src="static/icons/send.png"> Messages</a></li>
                <li><a href="#"><img src="static/icons/Heart.png"> Notifications</a></li>
                <li><a href="#"><img src="static/icons/add (1).png"> Add</a></li>
                <li><a href="#"><img src="static/icons/user.png"> Profile</a></li>
            </ul>
        </div>

        <div class="feed">
            <div class="post">
                
            </div>
            
        </div>

    </div>
</body>
</html>