<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <title>Document</title>
</head>
<body>
</head>
<body>
    <div class="navbar">
        <div class="logo">MySocial</div>
        <div class="nav-links">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="button_main">Log out</a>
            {% else %}
                <a href="{% url 'login' %}" class="button_main">Log in</a>
                <a href="{% url 'register' %}" class="button_main">Register</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#"><img src="static/icons/home (1).png"> <b>Home</b></a></li>
                <li><a href="javascript:void(0);" onclick="open_search_form()"><img src="static/icons/search.png"> Search</a></li>
                <div id="search_form" style="display: none;">
                    <form method="get" class="add_forum">
                        {{form.as_p}}
                        <button type="submit" class="search_btn"><i class="las la-search"></i></button>
                    </form>
                </div>
                
                <li><a href="#"><img src="static/icons/send.png"> Messages</a></li>
                <li><a href="#"><img src="static/icons/Heart.png"> Notifications</a></li>
                <li><a href="#"><img src="static/icons/add (1).png"> Add</a></li>
                <li><a href="{% url 'profile' %}"><img src="static/icons/user.png"> Profile</a></li>
            </ul>
            
            
            
        </div>

        <div class="feed">
            <div class="post">
                {% for post in posts %}
                <div id="postContent" class="content_vertical">
                    
                    <div class="post_header">
                    {% if post.user.profile.avatar %}
                        <img src="{{ post.user.profile.avatar.url }}" class="avatar">
                    {% else %}
                        <img src="/static/icons/user.png" class="avatar" />
                    {% endif %}
                    <span style="text-decoration: none !important; margin-left: 5px">{{ post.user.username }}</span>
                    </div>
                    <img src="{{ post.photo.url }}" style="width: 600px; max-width: 100%; display: block; margin-bottom: 10px;">
                    <p class="caption"><b>{{ post.user.username }}</b> {{ post.content }}</p>
                            
                </div>
                {% endfor %}
            </div>
            
        </div>

    </div>
    <script>
        function open_search_form() {
          document.getElementById(
              "search_form"
          ).style.display = "block";
      }
    </script>
</body>
</html>