<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'social_media_app/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="content_vertical_messages text-center my-4">
    <h1 class="mb-4" style="font-family: 'MyFont', sans-serif;">Messages</h1>
    <a href="{% url 'messages_list' %}" class="button_main">Add chat</a>
    <a href="{% url 'show_groups' %}" class="button_main">Add group</a>
    </div>
    
</body>
</html>